@font-face {
    font-family: "KumbhSans-Bold";
    src: url(font/KumbhSans-Bold.ttf);
    src: url(font/KumbhSans-Light.ttf);
    src: url(font/KumbhSans-Regular.ttf);
}

@font-face {
    font-family: "KumbhSans-Light";
    src: url(font/KumbhSans-Light.ttf);
}

@font-face {
    font-family: "KumbhSans-Regular";
    src: url(font/KumbhSans-Regular.ttf);
}

.photo-profil {
   width:8rem;
   clip-path:ellipse(50% 50%);
   border-color: white;
}

.name {
    /* font-family: ; */
    background-color: teal;

}